@font-face {
  font-family: "Aver-Bold";
  src: url("../fonts/avenirnextcyr-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Aver-Bold-Italic";
  src: url("../fonts/avenirnextcyr-bolditalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-Demi";
  src: url("../fonts/avenirnextcyr-demi.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-Demi-Italic";
  src: url("../fonts/avenirnextcyr-demiitalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-Heavy";
  src: url("../fonts/avenirnextcyr-heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-Heavy-Italic";
  src: url("../fonts/avenirnextcyr-heavyitalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-Italic";
  src: url("../fonts/avenirnextcyr-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-Light";
  src: url("../fonts/avenirnextcyr-light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-Medium";
  src: url("../fonts/avenirnextcyr-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-Regular";
  src: url("../fonts/avenirnextcyr-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-Thin";
  src: url("../fonts/avenirnextcyr-thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Aver-UltraLight";
  src: url("../fonts/avenirnextcyr-ultralight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Geometria-Bold";
  src: url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Geometria-ExtraBold";
  src: url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Geometria-ExtraBold";
  src: url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Geometria-ExtraLight";
  src: url("../fonts/Geometria-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Geometria-Heavy";
  src: url("../fonts/Geometria-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Geometria-Light";
  src: url("../fonts/Geometria-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Geometria-Medium";
  src: url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Geometria-Thin";
  src: url("../fonts/Geometria-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Geometria-Thin";
  src: url("../fonts/Geometria-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
